/*
===============================================================
 This script is largely based on the Genome quality assessment workflow from the Genera toolbox of Luc CORNET from the University of Liege:
 https://github.com/Lcornet/GENERA
 
 ---------------------------------------------------------------
 Contams Analysis Pipeline. Started September 2024.
 #### Homepage / Documentation
 https://github.com/alexisbourdais/
 #### Authors
 Alexis Bourdais
---------------------------------------------------------------
*/

///////////////////////////////////////////////////////////////////
//////////////////////    Process Parameters    ///////////////////
///////////////////////////////////////////////////////////////////

/* Singularity mount */
params.singularity = "-B /scratch:/scratch -B /home:/home -B /local:/local -B /db:/db -B /groups:/groups"

// Database
params.database="$baseDir/Database/"

params.db_busco="${params.database}/busco_db/"
params.db_checkm2="${params.database}/checkm2_uniref100.KO.1.dmnd"
params.db_eukcc="${params.database}/eukcc2_db_ver_1.1/"
params.db_gunc="${params.database}/gunc_db_progenomes2.1.dmnd"
params.db_kraken2="${params.database}/kraken2_db/"
params.db_gtdbtk="${params.database}/gtdbtk_db/release220/"
params.db_checkm1="${params.database}/checkm1_db/"
params.db_omark="${params.database}/omark_db_LUCA.h5"
//params.taxdir_physeter="${params.database}/physeter_db/"
params.taxdir_physeter="${params.database}/taxdump_original/"
params.taxdir_kraken="${params.database}/taxdump_original/"
params.db_physeter="${params.database}/physeter_db/life-tqmd-of73.dmnd"

// Set-up DB
params.setEukcc = false
params.setBusco = false
params.setGtdbtk = false
params.setKraken2 = false
params.setCheckm1 = false
params.setGunc = false
params.setCheckm2 = false
params.setPhyseter = false
params.setOmark = false
params.setAll = false

// Workflow
params.workflow = ""

// Input
params.assemblyDir="$baseDir/Data/"
params.format="fasta"
params.assemblyFiles="${params.assemblyDir}/*.${params.format}"

// Output
params.resultsDir = "$baseDir/Results/"

// Gtdbtk
params.gtdbtk = false //to activate

// Prodigal-Gffread-Omark
params.annotation = false //to activate

// Quast
params.mode_quast="" //""=bacteria, eukaryote, fungus ...

// Busco
params.mode_busco="genome" //genome, proteins 
params.lineage_busco="auto-lineage" //bacteria_odb10, fungi_odb10, auto-lineage

// Eukcc2
params.mode_eukcc="DNA"

// Physeter - Kraken
params.taxlevel="phylum"
params.automode = 'label_first'

// Final report
params.ckcompleteness= '95'             // Final list: Minimum CheckM completeness, default = 95
params.ckcontamination = '5'            // Final list: Maximum CheckM contamination, default = 5
params.gunccss = '0.01'                 // Final list: Maximum GUNC css, default = 0.01
params.guncrrs = '0.5'                  // Final list: Minimum GUNC rrs, default = 0.5
params.physetercontamination = '100'    // Final list: Maximum Physeter contamination, default = 100 (unactivated by default)
params.krakencontamination = '100'      // Final list: Maximum Kraken contamination, default = 100 (unactivated by default)
params.bucompleteness = '0'             // Final list: Minimum BUSCO completeness, default = 0 (unactivated by default)
params.budups = '100'                   // Final list: Maximum BUSCO duplication, default = 100 (unactivated by default)
params.ck2completeness = '95'           // Final list: Minimum CheckM2 completeness, default = 95
params.ck2contamination = '5'           // Final list: Maximum CheckM2 contamination, default = 5
params.numcontigs = '1000'              // Final list: Maximum Number of contigs, default = 1000

//////////////////////////////////////////////////////////////////////
//////////////////////    Nextflow parameters      ///////////////////
//////////////////////////////////////////////////////////////////////

nextflow.enable.dsl=2

conda.enabled = true

singularity {
    enabled = true
    autoMounts = true
    runOptions = "${params.singularity}"
}

// Maximum available cluster resources
params {
    max_memory = 200.GB
    max_cpus = 32
    max_time = 336.h
}

report {
    enabled = true
    overwrite = true
    file = "${params.resultsDir}/Comtams_nextflow_report.html"
}

////////////////////////////////////////////////////////////////////
////////////////////   Check max function   //////////////////////// (from nfcore community)
////////////////////////////////////////////////////////////////////

def check_max(obj, type) {
    if (type == 'memory') {
        try {
            if (obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
                return params.max_memory as nextflow.util.MemoryUnit
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'time') {
        try {
            if (obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
                return params.max_time as nextflow.util.Duration
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'cpus') {
        try {
            return Math.min( obj, params.max_cpus as int )
        } catch (all) {
            println "   ### ERROR ###   Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
            return obj
        }
    }
}

///////////////////////////////////////////////////////////
//////////////////////     Profile      ///////////////////
///////////////////////////////////////////////////////////

profiles {
    standard {
        process.executor = 'local'
        executor.cpus = 4
        executor.memory = 16.GB
    }

    slurm {
        process {
            executor = 'slurm'

            withLabel: process_low {
                cpus   = { check_max( 2     * task.attempt, 'cpus'    ) }
                memory = { check_max( 12.GB * task.attempt, 'memory'  ) }
                time   = { check_max( 4.h   * task.attempt, 'time'    ) }
            }
            withLabel: process_medium {
                cpus   = { check_max( 6     * task.attempt, 'cpus'    ) }
                memory = { check_max( 36.GB * task.attempt, 'memory'  ) }
                time   = { check_max( 8.h   * task.attempt, 'time'    ) }
            }
            withLabel: process_high {
                cpus   = { check_max( 20    * task.attempt, 'cpus'    ) }
                memory = { check_max( 72.GB * task.attempt, 'memory'  ) }
                time   = { check_max( 16.h  * task.attempt, 'time'    ) }
            }
        }
    }

    singularity {
        process {
            withName: 'busco|setup_Busco' {
                container = 'https://depot.galaxyproject.org/singularity/busco:5.7.1--pyhdfd78af_1' //voir si prob gnuplot !?
            }
            withName: quast {
                container = 'https://depot.galaxyproject.org/singularity/quast:5.2.0--py39pl5321heaaa4ec_4'
            }
            withName: 'checkm2|setup_Checkm2' {
                container = 'https://depot.galaxyproject.org/singularity/checkm2:1.0.2--pyh7cba7a3_0'
            }
            withName: 'eukcc_folder|setup_Eukcc' {
                container = 'https://depot.galaxyproject.org/singularity/eukcc:2.1.0--pypyhdfd78af_0'
            }
            withName: 'gunc|setup_Gunc' {
                container = 'https://depot.galaxyproject.org/singularity/gunc:1.0.6--pyhdfd78af_0'
            }
            withName: 'gtdbtk|setup_Gtdbtk' {
                container = 'https://depot.galaxyproject.org/singularity/gtdbtk:2.4.0--pyhdfd78af_1'
            }
            withName: 'checkm1|setup_Checkm1' {
                container = 'https://depot.galaxyproject.org/singularity/checkm-genome:1.2.3--pyhdfd78af_1'
            }
            withName: krona {
                container = 'https://depot.galaxyproject.org/singularity/krona:2.8.1--pl5321hdfd78af_1'
            }
            withLabel: contams {
                container = "$baseDir/Environment/contams.sif"
            }
            withName: kraken2 {
                memory = 150.GB
            }
            withName: prodigal {
                container = 'https://depot.galaxyproject.org/singularity/prodigal%3A2.6.3--h8a409c4_8'
            }
            withName: gffread {
                container = 'https://depot.galaxyproject.org/singularity/gffread%3A0.12.7--hdcf5f25_4'
            }
            withName: 'omark|setup_Omark' {
                container = 'https://depot.galaxyproject.org/singularity/omark%3A0.3.0--pyh7cba7a3_0'
            }
        }
    }

    conda {  
        process {
            withName: 'busco|setup_Busco' {
                conda = "$baseDir/Environment/busco.yml"
            }
            withName: quast {
                conda = 'bioconda::quast'
            }
            withName: 'checkm2|setup_Checkm2' {
                conda = "$baseDir/Environment/checkm2.yml"
            }
            withName: 'eukcc_folder|setup_Eukcc' {
                conda = "$baseDir/Environment/eukcc.yml"
            }
            withName: 'gunc|setup_Gunc' {
                conda = "$baseDir/Environment/gunc.yml"
            }
            withName: 'gtdbtk|setup_Gtdbtk' {
                conda = "$baseDir/Environment/gtdbtk.yml"
            }
            withName: 'checkm1|setup_Checkm1' {
                conda = 'bioconda::checkm-genome'
            }
            withName: krona {
                conda = 'bioconda::krona' 
            }
            withLabel: contams {
                container = "$baseDir/Environment/contams.sif"
            }
            withName: kraken2 {
                memory = 150.GB
            }
            withName: prodigal {
                conda = 'bioconda::prodigal'
            }
            withName: gffread {
                conda = 'bioconda::gffread'
            }
            withName: 'omark|setup_Omark' {
                conda = 'bioconda::omark'
            }
        }
    }
}